.auth-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #20222f;
}

.auth-card {
  display: flex;
  max-width: 900px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #9999a2;
  overflow: hidden;
}

.auth-image {
  padding: 6em 0em 0em 4.9em;
  width: 300px;
}

.auth-form-container {
  padding: 2rem;
  color: white;
  flex: 1;
}

.auth-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input-group {
  margin-bottom: 1rem;
}

.auth-input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.auth-input-group input {
  width: 25rem;
  padding: 0.5rem;
  border: 1px solid #9999a252;
  border-radius: 5px;
  background-color: #1e1f22;
  color: white;
  outline: none;
}

.auth-button {
  width: 26.1rem;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-button:hover {
  background-color: #5a72df;
  transform: scale(1.01)
}

.auth-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
}

.auth-switch {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding-left: 5px;
}

.auth-switch:hover {
  text-decoration: underline;
}

/* Para pantallas medianas y superiores */
@media (min-width: 768px) {
  .auth-image-container {
    display: block;
    flex: 1;
    position: relative;
  }

  .auth-form-container {
    flex: 1;
  }
}


/* UNAUTHORIZED.JSX */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f9fa;
}

.content {
  text-align: center;
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 4rem;
  color: #dc3545;
  margin: 0;
}

.message {
  font-size: 1.25rem;
  color: #6c757d;
  margin: 20px 0;
}

.link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}